body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

header, footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Card design */
.card {
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #2980b9;
}

#error {
    color: red;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ecf0f1;
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 5px;
}


@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}

.link {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}
